{% extends '::site.html.twig' %}
 {% block controller %}projects{% endblock %} 
{% block addJs %}

<script type="text/javascript" src="{{asset('bundles/acmesite/js/projectsController.js')}}"></script>
{% endblock %}

{% block body %}

<div id='content' class='clearfix'>
    
    <div class='content-full'>
        
        <h1>Latest Projects</h1>
        
        <div class='search'>
            Search by <input type='text' name='search' ng-model='filterText' placeholder='enter keyword' ng-change="loadData()">
            Location
            <select ng-change="loadData()" ng-model='filterCountry' ng-options=" country for country in countries"  >
            </select>
        </div>

        <div class='listing' ng-repeat="project in projectsList">
            <img src='{{asset('images/category-thumb-02.jpg')}} alt='Need 10 Study Tables'>
            <h3>[[project.title]]</h3>
            <h6>by [[project.orgName]]  | [[project.createDate.timestamp*1000 | date:'dd MMM yyyy HH:mm']]</h6>
            <div class='listing-text'>
                <p>[[project.description | cut:true:100]]</p>
                <a class='more-info' href='[[project.id]]'><img src='{{asset('images/icon-more-info.png')}} alt='post-title'> More Info</a>
            </div>
        </div>
        
     
    
    </div>
       
       
</div>
 <div class='pagination-wrapper'>
            <pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" on-select-page="setPage(page)"></pagination>
        </div>
{% endblock %}