{% extends '::site.html.twig' %}
 {% block controller %}project{% endblock %} 
{% block addJs %}

<script type="text/javascript" src="{{asset('bundles/acmesite/js/projectsController.js')}}"></script>
{% endblock %}

{% block body %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=475874002538539";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id='content' class='clearfix'>
    
    <div class='content-single'>
        <h1>Project</h1>
        
        <div class='social-share'>
            <div class="fb-share-button" data-href="{{app.request.uri}}" data-type="box_count"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-count='vertical'>Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        
        <img class='img-thumbnail' src={{asset('images/thumb-event-01.jpg')}}>
        
        <h2>[[project.title]]</h2>
        <h5>By <a href='{{ path('acme_site_organizations') }}[[project.organization.id]]'>[[project.organization.orgName]] </a> | [[project.organization.city]], [[project.organization.country]]</h5>
        <h6>Added on [[project.createDate.timestamp*1000 | date:'dd MMM yyyy HH:mm']] | Education, Rural Development</h6>
        
        <div class='content-text'>
            <p>[[project.description | cut:true:100]]</p>
            
            <table>
                <tr>
                    <td class='width15'>Budget:</td>
                    <td>[[project.currency]][[project.budget]] </td>
                </tr>
                <tr>
                    <td>Due Date:</td>
                    <td>[[project.dueDate.timestamp*1000 | date:'dd MMM yyyy']]</td>
                </tr>
            </table>
            
            <a class='edit-button' href='' ng-click="applyProject()"><img src={{asset('images/icon-signup.png')}}> Contribute</a>
            <a class='edit-button' href='enquiry'><img src={{asset('images/icon-hide.png')}}> Enquiry</a>
        </div>
    </div>
    
    <div id='sidebar'>
        <h1>Similar Projects</h1>
    
        <div class='post' ng-repeat="prj in projectsList " ng-if="project.id!==prj.id && row!=4" >
        [[row=row+1 ;""]]
             <img src='{{asset('images/category-thumb-02.jpg')}} alt='Need 10 Study Tables'>
            <h3>[[prj.title]]</h3>
            <h6 class="link"> By <a  href='{{ path('acme_site_organizations') }}[[project.organization.id]]'>[[project.organization.orgName]] </a> | [[prj.createDate.timestamp*1000 | date:'dd MMM yyyy HH:mm']]</h6>
            <div class='listing-text'>
                <p>[[prj.description | cut:true:100]]</p>
                <a class='more-info' href='{{ path('acme_site_projects') }}/[[prj.id]]'><img src='{{asset('images/icon-more-info.png')}} alt='post-title'> More Info</a>
            </div>
        </div>
        </div>

</div>

{% endblock %}